<a href="https://colab.research.google.com/github/YSawant772005/Yash-tempconverter/blob/main/Day_2_AP_Shah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Collection Data types

1. List
2. tuple
3. set
4. dict

In [ ]:
l = [10, 10.0,  True, 10 + 0j, "String"]
l

[10, 10.0, True, (10+0j), 'String']

In [ ]:
Tuple

-> ()
-> we can store hetrogeneous data types
-> Immutable
-> Indexing
-> we can store duplicates
-> insetion order is preserve
-> slicing
-> not growable in nature

In [ ]:
t = ()
type(t)

tuple

In [ ]:
t = (10)
type(t)

int

In [ ]:
t = (10, )
type(t)

tuple

In [ ]:
l = (10, 10.0,  True, 10 + 0j, "String")
type(l)

tuple

In [ ]:
l

(10, 10.0, True, (10+0j), 'String')

In [ ]:
t = (10, 10, 10)
t

(10, 10, 10)

In [ ]:
t = (10, 10)
id(t)

138320734358592

In [ ]:
t = (20, 30)
id(t)

138321207901120

In [ ]:
t = ([10], )
print(type(t),  "  --> ", id(t))

<class 'tuple'>   -->  138320312803408

In [ ]:
t[0].append(20)

print(type(t),  "  --> ", id(t))

<class 'tuple'>   -->  138320312803408

In [ ]:
t[0].append(1000)

print(type(t),  "  --> ", id(t))

<class 'tuple'>   -->  138320312803408

In [ ]:
t = (10, 20, 30, 40, 50)

print("max -> ", max(t))
print("min -> ", min(t))

max ->  50
min ->  10

In [ ]:
print("Sum -> ", sum(t))

Sum ->  150

In [ ]:
# # Set

-> {}
-> set()
-> we can not store duplicat elements
-> indexing concept is not applicables
-> insertion order is not preserved
-> mutable
-> growable in nature
-> we can not perform slicing

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = set()
type(s)

set

In [ ]:
s = {10}
type(s)

set

In [ ]:
s = {10, 20, 30, 40, 50}
s

{10, 20, 30, 40, 50}

In [ ]:
s.add(200) # place any where
s

{10, 20, 30, 40, 50, 200}

In [ ]:
l = {10, 20, 30}
l.pop()

10

In [ ]:
l

{20, 30}

In [ ]:
s = {10, 10, 10, 10}
s

{10}

In [ ]:
s = {10, 20, 30, 40, 1, 0}

print("Max -> ", max(s))
print("min -> ", min(s))
print("Sum -> ", sum(s))

Max ->  40
min ->  0
Sum ->  101

In [ ]:
s = {10, 20, 30, 40, 1, 0}
sorted(s)

[0, 1, 10, 20, 30, 40]

In [ ]:
t = (10, 20, 0, 10, 200)

print("Max -> ", max(t))  # -> list, tuple,
print("Min -> ", min(t))
print("Sum -> ", sum(t))
print("Sorted ",  sorted(t))

Max ->  200
Min ->  0
Sum ->  240
Sorted  [0, 10, 10, 20, 200]

In [ ]:
t = {10, 20, 0, 10, 200}

print("Max -> ", max(t))  # -> list, tuple,
print("Min -> ", min(t))
print("Sum -> ", sum(t))
print("Sorted ",  sorted(t))

Max ->  200
Min ->  0
Sum ->  230
Sorted  [0, 10, 20, 200]

In [ ]:
l = [10, 20, 30, 0, 1]
l.sort()  # within sort

In [ ]:
l

[0, 1, 10, 20, 30]

In [ ]:
l = [10, 20, 30, 0, 1]
sorted(l)  # sort and print  --> return --> list

[0, 1, 10, 20, 30]

In [ ]:
# # Dict

# key : value

# -> key -> can not be duplicate
# -> value -> we can store duplicates

Syntax -->

  <var-name> = {key : value, key : value}

In [ ]:
d = {}
type(d)

dict

In [ ]:
d = {1 : "Java", 2 : "Python", 3 : "CPP"}
print(d)

{1: 'Java', 2: 'Python', 3: 'CPP'}

In [ ]:
d = {1 : "Dhanraj", 2 : "Dhanraj", 3 : "Dhanraj"}
print(d)

{1: 'Dhanraj', 2: 'Dhanraj', 3: 'Dhanraj'}

In [ ]:
d = {1 : "Dhanraj", 1 : "Dhanraj", 1 : "Dhanraj"}
print(d)

{1: 'Dhanraj'}

In [ ]:
d = {1 : "Java", 1 : "Python"}
d

{1: 'Python'}

In [ ]:
d = {1 : "Java", 1 : "Python"}
d

{1: 'Python'}

In [ ]:
d = {1 : "Java", 2 : "Python", 3 : "CPP"}
print(d)

{1: 'Java', 2: 'Python', 3: 'CPP'}

In [ ]:
d.keys()

dict_keys([1, 2, 3])

In [ ]:
d.values()

dict_values(['Java', 'Python', 'CPP'])

In [ ]:
d.items()

dict_items([(1, 'Java'), (2, 'Python'), (3, 'CPP')])

# **Looping**

In [ ]:
1. while
2. for

In [ ]:
while ---> menu driven/ digit separation
for   ---> Serier / pattern / array / String / sequence ....

In [ ]:
# 1. While
# 3  --> 33
# 3.10 --> 35

Syntax -->

    while (condition): --> Boolean

      # at least one // pass/ break / condition


starting --> included
end --> exculed

eg.

  while start </> end:
    print()
    start++/--

In [ ]:
# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

start = 1
while start <= 10:  # 10+1  / 11  / <=
  print(start)
  start = start + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
import time

start = 1
while start <= 5:
  time.sleep(4)
  print(start, " after printing start is -> ", start + 1)
  start = start + 1

1  after printing start is ->  2
2  after printing start is ->  3
3  after printing start is ->  4
4  after printing start is ->  5
5  after printing start is ->  6

In [ ]:
# 10, 9, 8, ...., 1


start = 10

while start >= 1:
  print(start)
  start = start - 1

10
9
8
7
6
5
4
3
2
1